:root{
    --inter: 'Inter', sans-serif;
    --prata: 'Prata', serif;
    --bgcolor: black;
    --gray: #d3d3d3
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--bgcolor);
}
/* Intro */

#intro{
    padding: 5rem;
    width: 75%;
    color: white;
}

#intro h1{
    font-family: var(--prata);
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

#intro p{
    margin: 0;
    padding: 0;
    font-family: var(--inter);
    width: 60%;
    color: var(--gray);
}

/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    size: 1rem;
}

/* websites */

.websites {
    padding: 5rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 0 auto;
}

.websites img{
    width: 630px;
}

.websites h2{
    font-size: 3rem;
    font-family: var(--prata);
}

.websites p{
    font-size: 1.5rem;
    font-family: var(--inter);
    color: var(--gray);
}

